<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/producto.css">
</head>


<body>
<%- include('../includes/navigation.ejs') %>

<div class="container-sm">
    <div class="row justify-content-center py-5">
        <div class="col-lg-5">
            <div class="logueo">

                <form action="/newPassword" method="POST" novalidate>
                    <h1 class="text-center mb-4">Ingrese su nueva Contraseña</h1>
                        <div class="form-group">
                            <label for="password">contraseña:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="passwordConfirm">Contraseña:</label>
                            <input type="password" id="passwordConfirm" name="passwordConfirmado" required>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="hidden" name="idUsuario" value="<%= idUsuario %>">
                            <input type="hidden" name="tokenPassword" value="<%= tokenPassword %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-primary" type="submit">Restablecer Password</button>
                        </div>

                </form>


            </div>
        </div>
    </div>
</div>

<%- include('../includes/end.ejs') %>