<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/producto.css">
</head>


<body>
<%- include('../includes/navigation.ejs') %>
    
<div class="container-sm">
    <div class="row justify-content-center py-5">
        <div class="col-lg-5">
            <div class="logueo">

                <form action="/registrarse" method="POST" novalidate>
                    <h1 class="text-center mb-4"><% if (esAdmin) { %>Crear usuario<% } else { %>Registrarse<% } %></h1>
                    <% if (mensajeError) { %>
                        <div class="user-message user-message--error">
                            <%= mensajeError %>
                        </div>
                        <% } %>
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="apellidoPaterno">Apellido Paterno:</label>
                            <input type="text" id="apellidoPaterno" name="apellidoPaterno" required>
                        </div>
                        <div class="form-group">
                            <label for="ApellidoMaterno">Apellido Materno:</label>
                            <input type="text" id="ApellidoMaterno" name="apellidoMaterno" required>
                        </div>
                        <div class="form-group">
                            <label for="dob">Fecha de nacimiento:</label>
                            <input type="date" id="dob" name="fechaNacimiento" value="1980-01-01" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo:</label>
                            <input class="<%= erroresValidacion.find(e => e.path === 'email') ? 'invalid' : '' %>" type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input class="<%= erroresValidacion.find(e => e.path === 'password') ? 'invalid' : '' %>" type="password" id="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="passwordConfirm">Repite Contraseña:</label>
                            <input class="<%= erroresValidacion.find(e => e.path === 'passwordConfirmado') ? 'invalid' : '' %>" type="password" id="passwordConfirm" name="passwordConfirmado" required>
                        </div>
                        <% if (esAdmin) { %>
                            <div class="form-group">
                                <label for="rol">Rol</label>
                                <select name="rol" id="rol">
                                    <option value="cliente" selected>cliente</option>
                                    <option value="administrador">Administrador</option>
                                </select>
                            </div>
                        <% } %>
                        <div class="d-flex justify-content-center">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-primary" type="submit"><% if (esAdmin) { %>Crear usuario<% } else { %>Registrarse<% } %></button>
                        </div>

                </form>


            </div>
        </div>
    </div>
</div>

<%- include('../includes/end.ejs') %>