    <%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    
    <main>

        <div class="container">
        <h1>Tu Carrito</h1>
        <% if (productos.length > 0) { %>
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th bgcolor="EDE7E6" class="py-3 px-2">Nombre del Producto</th>
                        <th bgcolor="EDE7E6" class="py-3 px-2">Cantidad</th>
                        <th bgcolor="EDE7E6" class="py-3 px-2">Precio</th>
                        <th bgcolor="EDE7E6" class="py-3 px-2">Total</th>
                        <th bgcolor="EDE7E6" class="py-3 px-2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% productos.forEach(producto => { %>
                        <tr>
                            <td class="py-3 px-2 border-bottom"><%= producto.nombre %></td> 
                            <td class="py-3 px-2 border-bottom">
                                <!-- Input para modificar la cantidad -->
                                <form action="/carrito/modificar-cantidad" method="POST" class="form-carrito">
                                    <input type="hidden" name="idProducto" value="<%= producto._id %>">
                                    <input type="number" name="nuevaCantidad" value="<%= producto.cantidad %>" min="1" style="text-align: right;">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="btn btn-sesion"><ion-icon name="refresh-outline"></ion-icon> Actualizar</button>
                                </form>
                            </td>
                            <td class="py-3 px-2 border-bottom">S/ <%= producto.precio %></td>
                            <td class="py-3 px-2 border-bottom">S/ <%= producto.precio * producto.cantidad %></td>
                            <td class="py-3 px-2 border-bottom">
                                <!-- Botón para eliminar producto -->
                                <form action="/carrito/eliminar-producto" method="POST">
                                    <input type="hidden" name="idProducto" value="<%= producto._id %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="btn btn-sesion"><ion-icon name="trash-outline"></ion-icon> Eliminar</button>
                                </form>
                                
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
           <!-- <h2>Total: S/ <%= precioTotal %></h2> -->
            <div class="d-flex justify-content-end py-4 pe-5">
           <div class="total">Total: S/ <%= precioTotal.toFixed(2) %></div>
        </div>
        <div id="botonesCarrito">

        <a href="/" class="btn btn-sesion">Volver</a>
        
        <form action="/pedido" method="post" id="postConfPedido">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-sesion" type="submit"> Confirmar Pedido</button>
        </form>


         </div>
        <% } else { %>
            <h1 style="font-size:28px">No hay productos en tu carrito</h1>
        <% } %>
  
  
    </div>
    </main>
    
<%- include('../includes/end.ejs') %>
