<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h1><%= producto.nombre %></h1>
        <hr>
        <div>
            <img src="<%= producto.urlImagen %>" alt="<%= producto.imagen %>">
        </div>
        <h2>Precio: S/ <%= producto.precio %></h2>
        <p class="product_description">Descripción: <%= producto.descripcion%></p>
        <p class="product_disponibilidad"> Stock <%= producto.stock%> unidades</p>
        <p class="product_categoria"> categoria: <%= producto.categoria%></p>
        
        <%- include('../includes/agregar-al-carrito.ejs', { producto: producto, deshabilitarBoton: producto.stock === 0 }) %>

    </main>
    <%- include('../includes/end.ejs') %>