<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/producto.css">
</head>


<body>
<%- include('includes/navigation.ejs') %>

    <main>

        <div class="container">
            <div class="py-5">
        <% if(prods.length > 0) { %>

            <h1 class="mb-5">Administraci칩n de productos </h1>
            <div class="row">
                <% for (let producto of prods) { %>
                   
                    <article class ="d-flex flex-row justify-content-between mb-4 pb-4 border-bottom">
                        
                        <div class="list_group d-flex flex-row">
                        <div class="list_image_small me-lg-3">
                            <img src="<%= producto.urlImagen%> " alt="im치gen">
                        </div>

                        <div class="list_content">
                            <h3 class=""><%= producto.nombre %></h3>
                            <p class="product_price">Precio Normal: S/<%= producto.precio%></p>
                            <p class="promo_price"> Precio en Promoci칩n S/<%= producto.precioPromo %> </p>
                            <p class="product_description">Descripci칩n: <%= producto.descripcion %></p>
                            <p class="product_disponibilidad"> Stock <%= producto.stock %> unidades</p>
                          <p class="product_categoria"> <%= producto.categoria%></p>
                        </div>

                    </div>

                        <div class="card__actions">
                            <a href="/admin/editar-producto/<%= producto.id %>?editar=true" class="btn"><ion-icon name="pencil-outline"></ion-icon> Editar</a>
                            <form action="/admin/eliminar-producto" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
                                <input type="hidden" name="idProducto" value="<%= producto.id %>">
                                <button class="btn" type="submit"><ion-icon name="trash-outline"></ion-icon> Eliminar</button>
                            </form>

                        </div>
                    </article>
                        
                <% } %>
            </div>
        <% } else { %>
            <h1>No hay productos</h1>
       <% } %>
 
    </div>
    </div>
    </main>
    

<%- include ('includes/end.ejs') %>