<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/producto.css">
</head>
<body>

<%- include('includes/navigation.ejs') %>

<section class="imagen-destacada">
    <!-- Imagen destacada si es necesario -->
</section>

<main>
    <div class="container">
        <div class="my-5">
            <h1 class="mb-4 pb-3 text-center">Disfruta tu día con Latte&Matte</h1>

            <!-- Categoría Café -->
            <div class="categoria">
                <h2 class="titulo-categoria">Café</h2>
                <% if (categorias.cafe.length > 0) { %>
                    <div class="row">
                        <% for (let producto of categorias.cafe) { %>
                            <div class="col-lg-4">
                                <article class="card product-item mb-4">
                                    <div class="card_image">
                                        <img src="<%= producto.urlImagen %>" alt="<%= producto.nombre %>">
                                    </div>
                                    <div class="card_content">
                                        <h2 class="mb-3"><%= producto.nombre %></h2>
                                        <p class="product_description"><%= producto.descripcion %></p>
                                        <p class="product_disponibilidad">Stock: <%= producto.stock %> unidades</p>
                                        <p class="product_categoria"><%= producto.categoria %></p>
                                        <a href="/productos/<%= producto.id %>">Ver Detalles</a>
                                        <div class="card_actions w-100 d-flex justify-content-between align-items-center pt-4">
                                            <h2 class="product_price">S/ <%= producto.precio %></h2>
                                            
                                            <!-- Agregar al carrito -->
                                            <%- include('includes/agregar-al-carrito.ejs', {producto: producto, deshabilitarBoton: producto.stock === 0}) %>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <p>No hay productos en la categoría Café.</p>
                <% } %>
            </div>

            <!-- Categoría Sándwich -->
            <div class="categoria">
                <h2 class="titulo-categoria">Sándwich</h2>
                <% if (categorias.sandwich.length > 0) { %>
                    <div class="row">
                        <% for (let producto of categorias.sandwich) { %>
                            <div class="col-lg-4">
                                <article class="card product-item mb-4">
                                    <div class="card_image">
                                        <img src="<%= producto.urlImagen %>" alt="<%= producto.nombre %>">
                                    </div>
                                    <div class="card_content">
                                        <h2 class="mb-3"><%= producto.nombre %></h2>
                                        <p class="product_description"><%= producto.descripcion %></p>
                                        <p class="product_disponibilidad">Stock: <%= producto.stock %> unidades</p>
                                        <p class="product_categoria"><%= producto.categoria %></p>
                                        <a href="/productos/<%= producto.id %>">Ver Detalles</a>
                                        <div class="card_actions w-100 d-flex justify-content-between align-items-center pt-4">
                                            <h2 class="product_price">S/ <%= producto.precio %></h2>
                                            
                                            <!-- Agregar al carrito -->
                                            <%- include('includes/agregar-al-carrito.ejs', {producto: producto, deshabilitarBoton: producto.stock === 0}) %>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <p>No hay productos en la categoría Sándwich.</p>
                <% } %>
            </div>

            <!-- Categoría Postre -->
            <div class="categoria">
                <h2 class="titulo-categoria">Postre</h2>
                <% if (categorias.postre.length > 0) { %>
                    <div class="row">
                        <% for (let producto of categorias.postre) { %>
                            <div class="col-lg-4">
                                <article class="card product-item mb-4">
                                    <div class="card_image">
                                        <img src="<%= producto.urlImagen %>" alt="<%= producto.nombre %>">
                                    </div>
                                    <div class="card_content">
                                        <h2 class="mb-3"><%= producto.nombre %></h2>
                                        <p class="product_description"><%= producto.descripcion %></p>
                                        <p class="product_disponibilidad">Stock: <%= producto.stock %> unidades</p>
                                        <p class="product_categoria"><%= producto.categoria %></p>
                                        <a href="/productos/<%= producto.id %>">Ver Detalles</a>
                                        <div class="card_actions w-100 d-flex justify-content-between align-items-center pt-4">
                                            <h2 class="product_price">S/ <%= producto.precio %></h2>
                                            
                                            <!-- Agregar al carrito -->
                                            <%- include('includes/agregar-al-carrito.ejs', {producto: producto, deshabilitarBoton: producto.stock === 0}) %>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <p>No hay productos en la categoría Postre.</p>
                <% } %>
            </div>

        </div>
    </div>
</main>

<%- include('includes/end.ejs') %>