
<%- include ('includes/head.ejs') %>
<link rel="stylesheet" href="/css/producto.css">
</head>
<body>

<%- include ('includes/navigation.ejs') %>

    <main>

        <div class="container">
            <div class="my-5">

                <h1 class="mb-5 text-center">Nuestros productos</h1>

        <% if(prods.length > 0) { %>

            
            <div class="row">
                <% for (let producto of prods) { %>
                    <div class="col-lg-4">
                    <article class ="card product-item mb-4">
                        
                        <div class="card_image">
                            <img src="<%= producto.urlImagen%>"  alt="">
                        </div>
                        <div class="card_content">
                        
                            <h2 class="mb-3"><%= producto.nombre %></h2>
                       
                            <p class="product_description">Descripción: <%= producto.descripcion%></p>
                            <p class="product_disponibilidad"> Stock <%= producto.stock%> unidades</p>
                          <p class="product_categoria"> <%= producto.categoria%></p>

                        <div class = "card_actions w-100 d-flex justify-content-between align-items-center pt-4">
                            <h2 class="product_price">S/ <%= producto.precio%></h2>
                            <%- include('includes/agregar-al-carrito.ejs', {producto: producto})%>
                        </div>
                    </div>



                    </article>
                    </div>
                        
                <% } %>
            </div>
        <% } else { %>
            <h1>No hay productos</h1>
       <% } %>
    
    
    </div>


            <!-- Paginación -->
            <div class="pagination">
                <% if (hasPreviousPage) { %>
                    <a href="/productos?page=<%= previousPage %>">Anterior</a>
                <% } %>
                <% for (let i = 1; i <= lastPage; i++) { %>
                    <a href="/productos?page=<%= i %>" <%= currentPage === i ? 'aria-current="page"' : '' %>>
                        <%= i %>
                    </a>
                <% } %>
                <% if (hasNextPage) { %>
                    <a href="/productos?page=<%= nextPage %>">Siguiente</a>
                <% } %>
            </div>
        </div>
    </main>
    </div>
    </main>
    
    <%- include ('includes/end.ejs') %>